// Typography
@serif                        : Cambria, Georgia, "Times New Roman", Times, serif;
@sans-serif                   : "Helvetica Neue", Arial, sans-serif;
@monospace                    : Monaco, "Courier New", monospace;
@font-size                    : 16px;
@line-height                  : 1.4;


// Colors
@blue                         : #0af;
@blue-dark                    : #092a47;
@gray-darkest                 : #1d1d1d;
@gray-darker                  : #373737;
@gray-dark                    : #646464;
@gray                         : #8a8a8a;
@gray-light                   : #b1b1b1;
@gray-lighter                 : #e5e5e5;
@gray-lightest                : #fafafa;


// Dimensions
@full-width                   : 31.875em;
@half-width                   : @full-width / 2;
@quarter-width                : @full-width / 4;

*
{
	.box-sizing(border-box);
}

body
{
	font-family: @serif;
	font-size: @font-size;
	line-height: @line-height;
	color: @gray-darker;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
table
{
	margin-bottom: unit( @line-height, em );
}

ul, ol, dl
{
	ul, ol, dl
	{
		margin-bottom:0;
		margin-left:2em;
	}
}

h1
{
	font-family: @sans-serif;
	font-size: 150%;
	font-weight: 200;
	line-height: @line-height / 1.5;

	a
	{
		font-weight: 200;
	}
}
h2
{
	font-family: @sans-serif;
	font-size: 137.5%;
	font-weight: 200;
	line-height: @line-height / 1.375;

	a
	{
		font-weight: 200;
	}
}

h3
{
	font-size: 125%;
	line-height: @line-height / 1.25;
}

h4
{
	font-size: 112.5%;
	line-height: @line-height / 1.125;
}

h5, h6
{
	font-size: 100%;
	line-height: @line-height;
}

a
{
	margin: 0 0 -2px;
	padding: 0 0 2px;
	text-decoration: none;
	color: @blue;
	border-bottom: 1px solid;
}

code
{
	padding: 0 .2em;
	border: 1px solid @gray-lighter;
	background-color: @gray-lightest;
	.border-radius( 3px );
}


.container
{
	width: 90%;
	margin: 1em auto 2em;
}

.header
{
	.title
	{
		display: inline-block;
	}
}
	
.meta
{
	color: @gray;
}

ul.posts
{
	list-style-type: none;

	h1
	{
		font-size: 150%;
	}
}
	
.footer
{
	padding: unit( ( 1 / .8 ), em ) 0;
	font-size: 80%;
	border-top: 1px solid @gray-light;

	.contact
	{
		margin-right: 3em;
		float: left;
	}


	.rss
	{
		margin-top: 1.1em;
		margin-right: -.2em;
		float: right;

		img {
			border: 0;
		}
	}
}

.post
{
	pre
	{
		padding: 0 .4em;
		border: 1px solid @gray-light;
		background-color: @gray-lightest;

		code
		{
			border: none;
		}
		&.terminal
		{
			border: 1px solid #000;
			color: @gray-lightest;
			background-color: @gray-darkest;

			code
			{
				background-color: @gray-darker;
			}
		}
	}
}

@media screen and ( min-width: ( @full-width * 1.25 ) )
{
	body
	{
		font-size: @font-size * 1.125;
	}
	.container
	{
		width: @full-width;
	}
}

@media screen and ( min-width: ( @full-width * 1.75 ) )
{
	body
	{
		font-size: @font-size * 1.5;
	}

}
