<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width" />

		<link rel="stylesheet" href="{{ site.baseurl }}/css/get-post.css" />
	</head>
	<body>
		<div class="container">
			<header class="header">
				<h1 class="title"><a href="/">{{ site.name }}</a></h1>
			</header>
	
			<div id="content">
				<ul class="posts">{% for post in site.posts limit:3 %}
					<li>
						<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
						{{ post.excerpt }}
					</li>
			{% endfor %}</ul>
			</div>
	
			<footer class="footer">
				<p class="copyright">&copy;2013 Post</p>
				<div class="contact">
					<p>github: <a href="http://github.com/geoffthibeau/">geoffthibeau</a> + <a href="http://github.com/ryancolgin/">ryancolgin</a><br />
					twitter: <a href="http://twitter.com/geoffthibeau/">@geoffthibeau</a> + <a href="http://twitter.com/ryancolgin/">@RyanColgin</a></p>
				</div>
			</footer>
		</div>
	</body>
</html>